<div class="row">

  <div class="col l6 s12">
    <div id="game-map"></div>
  </div>

  <div class="col l6 s12">
    <h2><%= @game.name %></h2>
    <p><%= @game.description %></p>
    <h4>Instructions</h4>
    <p><%= @game.instructions %></p>
  </div>

</div>

<%= content_tag :div, class: "locations_class", data: {locations: @locations} do %>
<% end %>